In [4]:
import datetime
import pandas as pd
import Quandl

ibm = Quandl.get('GOOG/NYSE_IBM')  # Use Google Finance as data source

In [6]:
ibm.tail()

              Open    High     Low   Close    Volume
Date
2015-12-18  136.41  136.96  134.27  134.90  10026106
2015-12-21  135.83  135.83  134.02  135.50   5617475
2015-12-22  135.88  138.19  135.65  137.93   4263828
2015-12-23  138.30  139.30  138.11  138.54   5164916
2015-12-24  138.43  138.88  138.11  138.25   1495226

[5 rows x 5 columns]

In [9]:
ibm.index

<class 'pandas.tseries.index.DatetimeIndex'>
[1981-03-11, ..., 2015-12-24]
Length: 8792, Freq: None, Timezone: None